<div class="stage">



	<div id="SLDR-ONE" class="sldr">
		<ul class="wrp animate">
			<li class="elmnt-one"><div class="skew"><div class="wrap"><img src='/assets/cc1.jpg' width="500" height="281.5"></div></div></li>
			<li class="elmnt-two"><div class="skew"><div class="wrap"><img src="/assets/cc2.jpg" width="500" height="281.5"></div></div></li>
			<li class="elmnt-three"><div class="skew"><div class="wrap"><img src="/assets/cc3.jpg" width="500" height="281.5"></div></div></li>
			<li class="elmnt-four"><div class="skew"><div class="wrap"><img src="/assets/cc4.jpg" width="500" height="281.5"></div></div></li>
		</ul>
	</div>

	<div class="clear"></div>

	<div class="captions">
	 <div class="focalPoint"><p><small>Children 1</small></p></div>
	 <div><p><small>Children 2</small></p></div>
	 <div><p><small>Children 3</small></p></div>
	 <div><p><small>Children 4</small></p></div>
	</div>

	<ul class="selectors">
		<li class="focalPoint"><a href="">•</a></li><li><a href="">•</a></li><li><a href="">•</a></li><li><a href="">•</a></li>
	</ul>

	<!-- <button class="sldr-prv sldr-nav prev">Prev</button>
	<button class="sldr-nxt sldr-nav next">Next</button> -->

	<!-- <p style="float:left;">&#8596;&nbsp;</p>
	<p style="float:right;">&nbsp;&#8596;</p> -->



	<div class="clear"></div>

	<br>
	<br>
	<br>
	<br>
	<br>

</div>

<script src="javascripts/jquery-1.10.2.min.js"></script>
<script src="javascripts/jquery.sldr.js"></script>